.layout-1 {
  min-height: 100vh;
  max-width: 100%;
  padding: 8em 15em;
  @include flex(column, _, _);
  gap: 10em;

  /*********
  Contact
  *********/

  .contact {
    text-align: center;

    .title {
      h1 {
        font-size: $fs-400;
        color: $primary-clr-1;
        font-weight: bold;
      }

      h2 {
        width: 70%;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: $fs-300;
        font-weight: bold;
        color: $secondary-clr-1;
      }
    }
  }
}

@import "../media";
@media all and (max-width: 640px) {
  .layout-1 {
    padding: 4em 2em;

    .contact {
      .title {
        h1 {
          font-size: $fs-400;
        }

        h2 {
          width: 100%;
          font-size: $fs-300;
        }
      }
    }
  }
}
