// Font Family
$ff-primary: "Red Hat Display", sans-serif;

// Font Sizes

/**********
 typography 
**********/
$fs-title: 4rem;
$fs-subtitle: 3rem;
$fs-des: 2rem;
$fs-btn: 2.2rem;
$fs-nav: 2.4rem;

/**********
 sizes 
**********/
$fs-100: 1.6rem;
$fs-200: 1.8rem;
$fs-300: 2rem;
$fs-400: 3.6rem;


// Colors
$white-clr: #fff;
$bg-g-clr: linear-gradient(90deg, #29346f 0.54%, #11184f 100.34%);
$btn-clr: #59bb9f;
$primary-clr-1: #323751;
$secondary-clr-1: #929292;
$primary-clr-2: #f1eff7;
$secondary-clr-2: #989eb9;
$testimonial-card-clr: rgba(126, 200, 227, 0.2);
